/* MY CSS styles*/

/* Wiggle */

/* Flip */

/* Reset */
 	body {
 		padding: 0;
 		margin: 0;
 		font-size: 62.5%;
 		font-family: cursive, arial, sans-serif;
 	}
 	h1, p {
 		margin: 0;
 		padding: 0
 	}


 	header, footer {
 		width: 100%;
 		height: 40px;
 		background-color: #ccc;
 	}
 	nav {
 		float: right;
 	}
 	nav ul {
 		padding: 0;
 		margin: 0;
 	}
 	nav ul li {
 		list-style: none;
 		padding: 10px 30px;
 		float: left;
 	}
 	nav ul li:last-child {
 		padding-right: 10px;
 	}

 	#hover_enlarge_text
 	.box {
 		background-color: #000;
 		width: 100%;
 		min-height: 100%;
 	}
 	h1 {
 		color: #fff;
 		font-size: 2em;
 		
 		padding: 10px;
 		max-height: 30px;
 		background-color: #999;
 	}
 	h1:hover {
 		font-size: 2.1em;
 	}
 	p {
 		padding: 10px;
 	}
